.btn {
  background-color: $primaryBlue;
  color: $textWhite;
  border: 1px solid transparent;
  padding: 14px 18px;
  font-size: $fontBtn;
  border-radius: 4px;
  cursor: pointer;
  max-height: 50px;
  &:hover {
    background-color: $textBlack;
    color: $textWhite;
  }
}
