.carousel {
  .carousel_wrap {
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    .card {
      text-align: center;
      height: 90%;
      width: 48%;
      padding: 20px;
      border-radius: 10px;
      background-color: #fff;
      transition: transform 0.3s ease-in-out;
      box-shadow: 1px 3px 15px 1px rgba(0,0,0,0.08);
      &:last-of-type {
        display: none;
      }
      img {
        border-radius: 80px;
        height: 100px;
        margin-bottom: 20px;
      }
      h4 {
        margin-bottom: 50px;
        span {
          color: $textGrey;
          font-size: $fontParagraph;
          font-weight: $font500;
        }
      }
      p {
        text-align: left;
        padding: 0 3%;
      }
    }
  }
}

.bullets {
  text-align: center;
  cursor: pointer;
}

.active {
  color: $primaryBlue;
}
