* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1380px;
  margin: auto;
  &.small {
    width: 1200px;
  }
}

.mg-bottom150 {
  margin-bottom: 150px;
}

.mg-bottom20 {
  margin-bottom: 20px;
}

.mg-bottom50 {
  margin-bottom: 50px;
}
