footer {
  border-top: 2px solid $borderGrey;
  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    .copyright {
      width: 23%;
    }
    p, a {
      color: $textGrey;
      font-size: $fontParagraph;
      font-weight: $font500;
      span {
        color: $primaryBlue;
      }
    }
    .menu_foot {
      display: flex;
      width: 100%;
      justify-content: space-around;
      h4 {
        font-size: $fontSubtitle;
        font-weight: $font500;
        color: $textBlack;
        margin-bottom: 20px;
      }
      ul {
        list-style: none;
        li {
          padding-bottom: 20px;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
