header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo img {
    height: 60px;
  }
  .menu {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    .first_nav a {
      transition: 0.3s;
      &:hover {
        border-bottom: 2px solid $primaryBlue;
        color: $primaryBlue;
      }
    }
    ul li {
      list-style: none;
      display: inline-block;
      a {
        color: $textBlack;
        text-decoration: none;
        margin: 0 10px;
        padding-bottom: 15px;
          .cart {
            position: relative;
            &::after {
              content: '0';
              width: 9px;
              height: 14px;
              border-radius: 10px;
              color: $textWhite;
              background-color: $primaryBlue;
              font-size: 15px;
              padding: 3px 7px;
              position: absolute;
              z-index: -1;
              bottom: 9px;
              left: 10px;
            }
          }
        }
      }
  }
}
