header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .logo img {
    height: 60px;
  }
  & .menu {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    & ul li {
      list-style: none;
      display: inline-block;
      & a {
        color: $textBlack;
        text-decoration: none;
        padding: 0 10px;
      }
    }
  }
}
