// Colori
$primaryBlue: #377DFF;
$bgBlue: #F2F7FF;
$borderBlue: #EFF1FE;
$textBlack: #15049C;
$textGrey: #8E989F;
$bgGrey: #00000026;
$borderGrey: #00000014;
$textWhite: #fff;
$primaryGreen: #6CDAC1;
$primaryOrange: #FF796D;

// Font
$fontBtn: 16px;
$font400: 400;
$font500: 500;
$fontTitle: 33px;
$fontSubtitle: 20px;
$fontParagraph: 18px;
